<!DOCTYPE>
<head>
  <title>MacCounFinalProj</title>
  <link rel="stylesheet" href="css/reset.css" />                                                                                                                                   
  <link rel="stylesheet" href="css/text.css" />
  <link rel="stylesheet" href="css/960.css" /> 
  <link rel="stylesheet" href="css/style.css" /> 
  <script type="text/javascript" src="js/jquery-1.7.2.min.js"></script>
  <script type="text/javascript" src="js/beave.js"></script>
  <link href='http://fonts.googleapis.com/css?family=Inconsolata' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Maven+Pro' rel='stylesheet' type='text/css'>
</head>

<html>
  <body>
    <div class="header-spread">
      <div class="container_16">
        <header>
          <h1> The Raccoun </h1>
        </header>
      </div>
    </div>
    <div class="content-spread">
      <div class="container_16 content">
        <div class="grid_8 prefix_4 suffix_4">
          <p>Steven MacCoun...Advanced Computer Graphics Final Project</p>
        <div class="collapsible">
          <div class="collapsible-header">
            <h2>Projects</h2>
          </div>
          <div class="collapsible-content" style="display:none;">
            <ul>
              <li>
              <a href="/webgl_water.html">WebGL Water Demo</a>
              </li>
              <li>
              <a href="#">This is a project</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>

